        <header id="header" class="header">  
            <div class="container">            
                <h1 class="logo pull-left">
                    <a href="/">
                        <span class="logo-title">DontHateRecruiters.com</span>
                    </a>
                </h1><!--//logo-->              
                <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->            
                    <div class="navbar-collapse collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item for-recruiters <%= page == 'forRecruiters' ? 'active' : '' %>"><a href="/signup/recruiter"><i class="fa fa-users"></i> For Recruiters</a></li>
                            <li class="<%= page == 'contact' ? 'active' : '' %> nav-item"><a href="/contact">Contact</a></li>
                            <% if(typeof user !== 'undefined') { %>
                                <li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="blog.html"><i class="fa fa-user"></i><%= user.firstName %> <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/dashboard/candidate/<%= user._id %>">My Dashboard</a></li>  
                                    <li><a href="/logout">Log Out</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                                <li class="nav-item <%= page == 'login' ? 'active' : '' %>"><a href="/login">Log In</a></li>
                                <li class="nav-item nav-item-cta last"><a href="/signup/candidate" class="btn btn-cta btn-cta-primary">Get Started</a></li>
                            <% } %> 
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->           
            </div><!--//container-->
        </header><!--//header-->